.alert_container {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 999;
    transform: translateY(-100%);
    transition: all 500ms;
  }
  .alert_container.show {
    transform: translateY(0px);
  }
  
  .alert {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: auto;
  }
  

  .alert_content {
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 10px 50px rgba(255, 250, 250, 0.3);
  }
  
  .alert_title {
    font-weight: 800;
    font-size: 1.275rem;
  }
  
  .alert_body {
    margin-top: 10px;
    font-size: 1rem;
  }
  
  .alert_textinput {
    margin-top: 20px;
    display: flex;
  }
  
  .alert_textinput input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid grey;
    padding: 0px 10px;
  }
  
  .alert_action {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .alert_action .btn {
    flex: 1;
  }
  
  .alert_action .btn button {
    height: 40px;
    background-color: #282c34;
    border: 0px;
    border-radius: 8px;
    width: 100%;
    font-weight: 600;
    color: white;
    cursor: pointer;
  }